{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<main class="two-column">
    <article>
        <h2>Recent Work</h2>
    </article>
    <div class="sidebar">
        {% for block in page.sidebar %}
            <article>
                {% include_block block %}
            </article>
            <hr>
        {% endfor %}
    </div>
</main>
{% endblock content %}
