{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}
    <main>
        <article>
            <h1>{{ page.title }}</h1>
            {% image page.image original watermark as fullsize %}
            {% image page.image max-500x500 fullsize=fullsize.url id="image" %}
            <span class="caption">{{ page.medium }}, {{ page.dimensions }}{% if page.specific.original_price and not page.specific.original_sold %} - {{ page.specific.original_price }}{% elif page.specific.original_sold %} - Sold{% endif %}</span>
            {% include_block page.description %}
            {% if page.prints_available %}
                <h2>Prints</h2>
                This work is available as a print in the following sizes:
                <table>
                    <th>Print Size</th>
                    <th>Price</th>
                    {% for price_tier in page.print_prices %}
                        <tr>
                            <td>{{ price_tier.value.dimensions }}</td>
                            <td>${{ price_tier.value.price|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </article>
    </main>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/viewer.min.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/viewer.min.js' %}"></script>
    <script type="text/javascript">
        new Viewer(
            document.getElementById('image'),
            {
                'toolbar': false,
                'navbar': false,
                'url': 'fullsize',
                'title': false
            }
        )
    </script>
{% endblock %}