@font-face {
  font-family: 'Garamontio Sans Variable';
  src: url('/static/fonts/garamontio_sans.woff2') format('woff2-variations');
  font-weight: 200 900;
}

@font-face {
  font-family: 'Garamontio Sans Variable Italics';
  src: url('/static/fonts/garamontio_sans_it.woff2') format('woff2-variations');
  font-weight: 200 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --max-page-width: 82rem;
    --standard-gap: 1rem;
    --large-gap: calc(var(--standard-gap) * 2);
    --small-gap: calc(var(--standard-gap) / 2);
    --standard-radius: 2px;
    font-family: "Garamontio Sans Variable", sans-serif;
}

body {
    max-width: var(--max-page-width);
    margin-inline: calc(calc(100dvw - var(--max-page-width)) / 2);
    margin-block: var(--large-gap);
    border: 3px solid black;
    padding: var(--large-gap);
    padding-bottom: var(--standard-gap);
    border-radius: var(--standard-radius);
    min-height: calc(100dvh - calc(var(--large-gap) * 2));
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap)
}

header {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: var(--large-gap) var(--standard-gap);
}

header img {
    max-width: 100%;
    height: auto;
    grid-column: span 2;
}

.visual-h1,
h1 {
    font-family: "Garamontio Sans Variable", sans-serif;
    font-variation-settings: "wght" 150;
    text-transform: uppercase;
    font-size: 2rem;
}

.visual-h2,
h2 {
    font-family: "Garamontio Sans Variable", sans-serif;
    font-variation-settings: "wght" 200;
    text-transform: uppercase;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--standard-gap);
    justify-content: end;
}

nav ul li a {
    text-transform: uppercase;
    font-family: "Garamontio Sans Variable", sans-serif;
    font-size: 2rem;
    font-variation-settings: "wght" 150;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-variation-settings: "wght" 350;
    text-decoration: underline 1px solid black;
    color: black;
}

main > article {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap)
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 20rem;
    gap: var(--standard-gap)
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

.richtext-image.right {
    float: right;
    max-width: 60dvw;
    height: auto;
}

.richtext-image.left {
    float: left;
    max-width: 60dvw;
    height: auto;
}

.richtext-image.full-width {
    max-width: 100%;
    align-self: center;
    margin: auto;
    display: block;
    height: auto;
}

.block-rich_text p {
    margin-bottom: var(--small-gap);
}

.caption {
    font-family: "Garamontio Sans Variable Italics", sans-serif;
    margin-top: -.5rem;
}

table {
    width: fit-content;
    border-spacing: 1px;
    background-color: black;
}

th {
    font-variation-settings: "wght" 700;
}

th,
td {
    padding-inline: var(--small-gap);
    background-color: white;
}

.art-thumbnail {
    position: relative;
    display: grid;
    border: 1px solid black;
    padding: var(--small-gap);
    max-width: fit-content;
    transition: background-color 0.25s, transform 0.1s;
}

.art-thumbnail:hover {
    background-color: #d9d9d9;
    transform: scale(101%);
    transition: background-color 0.25s, transform 0.1s;
}

.art-thumbnail img {
    width: 100%;
    height: auto;
}

.art-thumbnail .prints-available {
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 2.5rem;
    position: absolute;
    top: var(--standard-gap);
    right: var(--standard-gap);
    padding-top: 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    box-shadow: 2px 2px 6px #737373;
}

.gallery-caption {
    font-family: "Garamontio Sans Variable Italics", sans-serif;
}

.gallery-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--standard-gap);
}

.gallery-container {
    container-type: inline-size;
    container-name: gallery-container;
}

@container gallery-container (width < 50rem) {
    .gallery-area {
        grid-template-columns: 1fr 1fr;
    }
}

@container gallery-container (width < 30rem) {
    .gallery-area {
        grid-template-columns: 1fr;
    }

    .art-thumbnail {
        justify-self: center;
    }
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--large-gap);
    margin-top: var(--large-gap);
}

footer span {
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width: 82rem) {
    body {
        margin-inline: var(--small-gap);
    }
}

@media screen and (max-width: 65rem) {
    body {
        padding: var(--standard-gap);
    }

    header {
        grid-template-columns: 1fr;
    }

    nav {
        grid-row: 2;
    }

    .two-column {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 38rem) {
    nav ul {
        flex-direction: column;
        gap: 0;
    }
}