@font-face {
  font-family: 'Garamontio Sans Regular';
  src: url('/static/fonts/GaramontioSans-Regular.woff2') format('woff2');
  font-weight: 200 900;
}

@font-face {
  font-family: 'Raleway Variable';
  src: url('/static/fonts/Raleway-VF.woff2') format('woff2-variations');
  font-weight: 200 900;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --max-page-width: 82rem;
    --standard-gap: 1rem;
    --large-gap: calc(var(--standard-gap) * 2);
    --standard-radius: 2px;
    font-family: "Garamontio Sans Regular", sans-serif;
}

body {
    max-width: var(--max-page-width);
    margin-inline: calc(calc(100dvw - var(--max-page-width)) / 2);
    margin-top: var(--large-gap);
    border: 3px solid black;
    padding: var(--large-gap);
    border-radius: var(--standard-radius);
    min-height: calc(100dvh - calc(var(--large-gap) * 2));
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap)
}

header {
    display: grid;
    grid-template-columns: 25rem 1fr;
    gap: var(--large-gap) var(--standard-gap);
}

header img {
    max-width: 100%;
    height: auto;
    grid-column: span 2;
}

h1 {
    font-family: "Raleway Variable", sans-serif;
    font-variation-settings: "wght" 200;
    text-transform: uppercase;
    font-size: 2rem;
}

h2 {
    font-family: "Raleway Variable", sans-serif;
    font-variation-settings: "wght" 250;
    text-transform: uppercase;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--standard-gap);
    justify-content: end;
}

nav ul li a {
    text-transform: uppercase;
    font-family: "Raleway Variable", sans-serif;
    font-size: 2rem;
    font-variation-settings: "wght" 200;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-variation-settings: "wght" 350;
    text-decoration: underline 1px solid black;
    color: black;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 20rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}